<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | RIICC</title>
        <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto:400,700'>
        <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='materialize.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='hover-min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='jquery-3.3.1.min.js')}}" charset="utf-8"></script>
        <script src="{{url_for('static', filename='materialize.min.js')}}" charset="utf-8"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block nav %}{% endblock %}
        <br>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                            <div class="col s12" style="background-color:#ccc;padding:8px;border-radius:4px;">
                                {{message}}
                                <img src="{{url_for('static', filename='delete.png')}}" class="close" height="16px">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript">
            $('.close').click(function() {
                $(this).parent().fadeOut();
            });
            window.onscroll = function() {
                if (window.pageYOffset >= $("nav").offset().top) {
                    $("nav").addClass("sticky");
                } else {
                    $("nav").removeClass("sticky");
                }
            }
            {% block scripts %}{% endblock %}
        </script>
    </body>
</html>
