{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='fullcalendar.min.css')}}">
    <script src="{{url_for('static', filename='moment.min.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename='fullcalendar.min.js')}}" charset="utf-8"></script>
{% endblock %}
{% block nav %}
    <div class="navbar-fixed">
        <nav class="cyan lighten-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">RIICC</a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="/calendar/">Calendar</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="/profile/">Hello, {{current_user.username}}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/login/">Login</a></li>
                        <li><a href="/signup/">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <h2>Event calendar</h2>
    <div id="calendar"></div>
{% endblock %}
{% block scripts %}
$(function() {
    $('#calendar').fullCalendar({
        eventLimit: true,
        events: '{{url_for('calendar_data')}}'
    });
});
{% endblock %}
