{% extends "base.html" %}
{% block title %}Edit your profile{% endblock %}
{% block nav %}
    <div class="navbar-fixed">
        <nav class="cyan lighten-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">RIICC</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/calendar/">Calendar</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="/profile/">Hello, {{current_user.username}}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/login/">Login</a></li>
                        <li><a href="/signup/">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <h2>Edit your profile</h2>
    <form action="/edit_profile/" method="post" id="edit_form">
        <p>bio</p>
        <div class="row">
            <div class="col s12">
                <textarea form="edit_form" name="bio" rows="8" cols="80"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input type="submit" value="submit" class="waves-effect waves-light btn">
            </div>
        </div>
    </form>
{% endblock %}
