{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block nav %}
    <div class="navbar-fixed">
        <nav class="cyan lighten-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">RIICC</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/calendar/">Calendar</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="/profile/">Hello, {{current_user.username}}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/login/">Login</a></li>
                        <li><a href="/signup/">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <h2>Welcome to the RIICC official website</h2>
    <p>Lorem ipsum whatever</p>
{% endblock %}
