{% extends 'base.html' %}
{% block title %}{{user.username}}'s profile{% endblock %}
{% block nav %}
    <div class="navbar-fixed">
        <nav class="cyan lighten-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">RIICC</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/calendar/">Calendar</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="/profile/">Hello, {{current_user.username}}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/login/">Login</a></li>
                        <li><a href="/signup/">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2 style="display:inline;">{{user.username}}'s profile</h2>
            {% if user.username == current_user.username %}
                <a href="{{url_for('edit_profile')}}" class="right-align">
                    <img src="{{url_for('static', filename='edit.png')}}" class="edit" height="16px" align="right">
                </a>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col s12">
            <h3 style="display:inline;">Bio</h3>
        </div>
    </div>
    <p>{{user.bio}}</p>
{% endblock %}
