{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block nav %}
    <div class="navbar-fixed">
        <nav class="cyan lighten-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">RIICC</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/calendar/">Calendar</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="/profile/">Hello, {{current_user.username}}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/login/">Login</a></li>
                        <li class="active"><a href="/signup/">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <h2>Sign up</h2>
    {% if current_user.is_authenticated %}
        <p>You are already logged in!</p>
    {% else %}
        <form action="/signup/" method="post">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col s12">
                    {{form.username.label}}{{form.username(size=40)}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{form.email.label}}{{form.email(size=40)}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{form.password.label}}{{form.password(size=40)}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{form.confirm_password.label}}{{form.confirm_password(size=40)}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{form.submit(class_='waves-effect waves-light btn')}}
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
